html, body, #home{
	height: 100%;

}
#home {

}

body {

	font-family: Helvetica,Arial,sans-serif;
	background: url('imagens/ruido.png'), url('imagens/capa.png'), linear-gradient(50deg,#ff4169,#7c26f8);;

}
/****************/
nav.navbar-transparente {

	padding: 15px 0px;
	background: rgba(0,0,0,0.6);
}

.navbar-toggler .navbar-toggler-icon{
	color: white;
}

.navbar-light .navbar-nav .nav-link {
	color: white;
}

.navbar-light .navbar-nav .nav-link:hover {

	color: #9bf0e1;
}


.divisor {
	background: white;
	width: 1px;
	margin: 12px 10px 10px 10px;

}
/*************************/


.capa {
	text-align: center;
}

.c2 {
	padding-top: 20px;
    padding-bottom: 20px;
}


.display-1 {
	color: white;
	font-weight: 900;
	letter-spacing: -0.05em;
}

.btn-custom {
	color: white;
	border-radius: 500px;
	-webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
    padding: 10px 20px;
}

.btn-branco {

	border: 2px solid white;
}

.btn-branco:hover {
	background: white;
}

.btn-roxo {

	background: #6207e3;
	color: white;

}

.albuns {

	padding: 10px 0;
}

.conteudo2 h2, h3 {

	color: #7c25f8;
}

.conteudo2 h2 {

	font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.04em;
}
.conteudo2 h3 {

	font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.04em;
}
 {

}

.rotacionar {

	-ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
    transform: rotate(30deg);
	padding-left: 80px;
	
}

/****Foot***/

.bg-foot {

	background: black;
	position: relative;
	margin-bottom: 0;
	padding: 50px 0px 20px 0px;
}

.icon-foot li {

	padding: 5px;


}

.menu-foot li{

}

.menu-foot li a {
	font-size: 0.8em;
    color: white;
    text-decoration: none;
}

.menu-foot li a:hover {
	color: #9bf0e1;
}
.footer h4 {

    color: #919496;
	font-size: 0.8em;
	text-transform: uppercase;
	margin-left: 0;
}


.navbar-nav {
	margin-left: 0;
}

.cell {
	padding-top: 20px ;
}

.cell h1{

	font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.04em;

}

.cell h2{

	font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.04em;

}